@font-face {
  font-family: fontello;
  src:
    url('./font/fontello.woff2?1774616245') format('woff2'),
    url('./font/fontello.woff?1774616245') format('woff'),
    url('./font/fontello.ttf?1774616245') format('truetype'),
    url('./font/fontello.svg?1774616245#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
