@font-face {
  font-family: fontello;
  src:
    url('./font/fontello.woff2?1767536919') format('woff2'),
    url('./font/fontello.woff?1767536919') format('woff'),
    url('./font/fontello.ttf?1767536919') format('truetype'),
    url('./font/fontello.svg?1767536919#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
