@font-face {
  font-family: fontello;
  src:
    url('./font/fontello.woff2?1772976662') format('woff2'),
    url('./font/fontello.woff?1772976662') format('woff'),
    url('./font/fontello.ttf?1772976662') format('truetype'),
    url('./font/fontello.svg?1772976662#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
